* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  touch-action: none;
}

.controls {
  display: none !important;
}
